ver2_1/App_WebReferences/WebReferenceNAVTia_res/Resources.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/resources" targetNamespace="urn:microsoft-dynamics-schemas/page/resources" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/resources" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Person" />
          <xsd:enumeration value="Machine" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Price_Profit_Calculation">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Profit_x003D_Price_Cost" />
          <xsd:enumeration value="Price_x003D_Cost_x002B_Profit" />
          <xsd:enumeration value="No_Relationship" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Time_Detail_Level">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Day" />
          <xsd:enumeration value="Week" />
          <xsd:enumeration value="Month" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Time_Periods_Length">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Daily" />
          <xsd:enumeration value="Weekly" />
          <xsd:enumeration value="Split_Week" />
          <xsd:enumeration value="Monthly" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Test_Norm_Time">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Minimum_Hours" />
          <xsd:enumeration value="Exact_hours" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="KPI_per">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Day" />
          <xsd:enumeration value="Week" />
          <xsd:enumeration value="Month" />
          <xsd:enumeration value="Quarter" />
          <xsd:enumeration value="Year" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Expense_Time_Detail_Level">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Day" />
          <xsd:enumeration value="Week" />
          <xsd:enumeration value="Month" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Expense_Time_Periods_Length">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Daily" />
          <xsd:enumeration value="Weekly" />
          <xsd:enumeration value="Split_Week" />
          <xsd:enumeration value="Monthly" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Resources">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="tns:Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Search_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Social_Security_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Education" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Contract_Class" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employment_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Resource_Group_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Global_Dimension_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Global_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Base_Unit_of_Measure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Direct_Unit_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Indirect_Cost_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Profit_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Price_Profit_Calculation" type="tns:Price_Profit_Calculation" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Date_Modified" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Blocked" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gen_Prod_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Automatic_Ext_Texts" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No_Series" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tax_Group_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VAT_Prod_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IC_Partner_Purch_G_L_Acc_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_Time_Sheet" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Time_Sheet_Owner_User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Time_Sheet_Approver_User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Service_Zone_Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expence_Vendor_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_No_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Timesheet" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Time_Detail_Level" type="tns:Time_Detail_Level" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Time_Periods_Length" type="tns:Time_Periods_Length" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WEB_Language" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WEB_Password" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Test_Norm_Time" type="tns:Test_Norm_Time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Test_Detail_Level" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Termination_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Manager" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Flex_Project" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Flex_Task_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vacation_Project" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vacation_Task_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Automatic_Flex_Adjustment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Approve_Time_Registry" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Approve_Expense_Registry" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_Manager" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Time_Post_With_Close_Period" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exp_Post_With_Close_Period" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expected_Average_Unit_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phone_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="KPI_per" type="tns:KPI_per" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vacation_Holiday_Project" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vacation_Holiday_Task_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Res_Sub_Group_Usage_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Period_Start_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Period" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Period_End_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Receive_Mail_With_Close_Period" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Receive_Mail_Not_Closed_Period" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Can_Be_Invoiced_From_TimeSheet" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Can_Invoice_From_TimeSheet" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expense_Period_Start_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expense_Period" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expense_Period_End_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expense_Time_Detail_Level" type="tns:Expense_Time_Detail_Level" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expense_Time_Periods_Length" type="tns:Expense_Time_Periods_Length" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Include_Expenses_In_TimeSheet" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Resource_Sub_Group_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Show_Resource" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Resources_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Resources" type="tns:Resources" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Resources_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Type" />
          <xsd:enumeration value="Name" />
          <xsd:enumeration value="Search_Name" />
          <xsd:enumeration value="Name_2" />
          <xsd:enumeration value="Address" />
          <xsd:enumeration value="Address_2" />
          <xsd:enumeration value="City" />
          <xsd:enumeration value="Social_Security_No" />
          <xsd:enumeration value="Job_Title" />
          <xsd:enumeration value="Education" />
          <xsd:enumeration value="Contract_Class" />
          <xsd:enumeration value="Employment_Date" />
          <xsd:enumeration value="Resource_Group_No" />
          <xsd:enumeration value="Global_Dimension_1_Code" />
          <xsd:enumeration value="Global_Dimension_2_Code" />
          <xsd:enumeration value="Base_Unit_of_Measure" />
          <xsd:enumeration value="Direct_Unit_Cost" />
          <xsd:enumeration value="Indirect_Cost_Percent" />
          <xsd:enumeration value="Unit_Cost" />
          <xsd:enumeration value="Profit_Percent" />
          <xsd:enumeration value="Price_Profit_Calculation" />
          <xsd:enumeration value="Unit_Price" />
          <xsd:enumeration value="Vendor_No" />
          <xsd:enumeration value="Last_Date_Modified" />
          <xsd:enumeration value="Blocked" />
          <xsd:enumeration value="Gen_Prod_Posting_Group" />
          <xsd:enumeration value="Post_Code" />
          <xsd:enumeration value="County" />
          <xsd:enumeration value="Automatic_Ext_Texts" />
          <xsd:enumeration value="No_Series" />
          <xsd:enumeration value="Tax_Group_Code" />
          <xsd:enumeration value="VAT_Prod_Posting_Group" />
          <xsd:enumeration value="Country_Region_Code" />
          <xsd:enumeration value="IC_Partner_Purch_G_L_Acc_No" />
          <xsd:enumeration value="Use_Time_Sheet" />
          <xsd:enumeration value="Time_Sheet_Owner_User_ID" />
          <xsd:enumeration value="Time_Sheet_Approver_User_ID" />
          <xsd:enumeration value="Service_Zone_Filter" />
          <xsd:enumeration value="Expence_Vendor_No" />
          <xsd:enumeration value="Vendor_No_2" />
          <xsd:enumeration value="Timesheet" />
          <xsd:enumeration value="Time_Detail_Level" />
          <xsd:enumeration value="Time_Periods_Length" />
          <xsd:enumeration value="WEB_Language" />
          <xsd:enumeration value="WEB_Password" />
          <xsd:enumeration value="Test_Norm_Time" />
          <xsd:enumeration value="Test_Detail_Level" />
          <xsd:enumeration value="Termination_Date" />
          <xsd:enumeration value="Project_Manager" />
          <xsd:enumeration value="Flex_Project" />
          <xsd:enumeration value="Flex_Task_Code" />
          <xsd:enumeration value="Vacation_Project" />
          <xsd:enumeration value="Vacation_Task_Code" />
          <xsd:enumeration value="Automatic_Flex_Adjustment" />
          <xsd:enumeration value="Approve_Time_Registry" />
          <xsd:enumeration value="Approve_Expense_Registry" />
          <xsd:enumeration value="Line_Manager" />
          <xsd:enumeration value="Time_Post_With_Close_Period" />
          <xsd:enumeration value="Exp_Post_With_Close_Period" />
          <xsd:enumeration value="Expected_Average_Unit_Price" />
          <xsd:enumeration value="E_Mail" />
          <xsd:enumeration value="Phone_No" />
          <xsd:enumeration value="KPI_per" />
          <xsd:enumeration value="Vacation_Holiday_Project" />
          <xsd:enumeration value="Vacation_Holiday_Task_Code" />
          <xsd:enumeration value="Res_Sub_Group_Usage_Qty" />
          <xsd:enumeration value="Period_Start_Date" />
          <xsd:enumeration value="Period" />
          <xsd:enumeration value="Period_End_Date" />
          <xsd:enumeration value="Receive_Mail_With_Close_Period" />
          <xsd:enumeration value="Receive_Mail_Not_Closed_Period" />
          <xsd:enumeration value="Can_Be_Invoiced_From_TimeSheet" />
          <xsd:enumeration value="Can_Invoice_From_TimeSheet" />
          <xsd:enumeration value="Expense_Period_Start_Date" />
          <xsd:enumeration value="Expense_Period" />
          <xsd:enumeration value="Expense_Period_End_Date" />
          <xsd:enumeration value="Expense_Time_Detail_Level" />
          <xsd:enumeration value="Expense_Time_Periods_Length" />
          <xsd:enumeration value="Include_Expenses_In_TimeSheet" />
          <xsd:enumeration value="Resource_Sub_Group_No" />
          <xsd:enumeration value="Show_Resource" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Resources_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Resources_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Resources" type="tns:Resources" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Resources" type="tns:Resources" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Resources_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Resources_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Resources" type="tns:Resources" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Resources" type="tns:Resources" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Resources_List" type="tns:Resources_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Resources_List" type="tns:Resources_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Resources" type="tns:Resources" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Resources" type="tns:Resources" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Resources_List" type="tns:Resources_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Resources_List" type="tns:Resources_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="Resources_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="Resources_Binding" type="tns:Resources_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/resources:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/resources:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/resources:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/resources:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/resources:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/resources:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/resources:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/resources:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/resources:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/resources:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Resources_Service">
    <port name="Resources_Port" binding="tns:Resources_Binding">
      <address location="http://109.70.55.147:17047/TIA/WS/TIA%20DK/Page/Resources" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>