ver2_1/App_WebReferences/dk/outzource_importjob/ozimportjob.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="createjob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createjobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="createjobResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="createjobSoapIn">
    <wsdl:part name="parameters" element="tns:createjob" />
  </wsdl:message>
  <wsdl:message name="createjobSoapOut">
    <wsdl:part name="parameters" element="tns:createjobResponse" />
  </wsdl:message>
  <wsdl:portType name="oz_importjobSoap">
    <wsdl:operation name="createjob">
      <wsdl:input message="tns:createjobSoapIn" />
      <wsdl:output message="tns:createjobSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="oz_importjobSoap" type="tns:oz_importjobSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createjob">
      <soap:operation soapAction="http://tempuri.org/createjob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="oz_importjobSoap12" type="tns:oz_importjobSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createjob">
      <soap12:operation soapAction="http://tempuri.org/createjob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="oz_importjob">
    <wsdl:port name="oz_importjobSoap" binding="tns:oz_importjobSoap">
      <soap:address location="https://outzource.dk/timeout_xp/wwwroot/ver2_1/timereg_net/ozimportjob.asmx" />
    </wsdl:port>
    <wsdl:port name="oz_importjobSoap12" binding="tns:oz_importjobSoap12">
      <soap12:address location="https://outzource.dk/timeout_xp/wwwroot/ver2_1/timereg_net/ozimportjob.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>