ver2_1/App_WebReferences/dk_rack/outzource_timeout2_importhours/ozimporthours.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="timeout_importTimer_rack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="timeout_importTimer_rackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="timeout_importTimer_rackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="timeout_importTimer_rackSoapIn">
    <wsdl:part name="parameters" element="tns:timeout_importTimer_rack" />
  </wsdl:message>
  <wsdl:message name="timeout_importTimer_rackSoapOut">
    <wsdl:part name="parameters" element="tns:timeout_importTimer_rackResponse" />
  </wsdl:message>
  <wsdl:portType name="to_import_hoursSoap">
    <wsdl:operation name="timeout_importTimer_rack">
      <wsdl:input message="tns:timeout_importTimer_rackSoapIn" />
      <wsdl:output message="tns:timeout_importTimer_rackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="to_import_hoursSoap" type="tns:to_import_hoursSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="timeout_importTimer_rack">
      <soap:operation soapAction="http://tempuri.org/timeout_importTimer_rack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="to_import_hoursSoap12" type="tns:to_import_hoursSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="timeout_importTimer_rack">
      <soap12:operation soapAction="http://tempuri.org/timeout_importTimer_rack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="to_import_hours">
    <wsdl:port name="to_import_hoursSoap" binding="tns:to_import_hoursSoap">
      <soap:address location="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimporthours.asmx" />
    </wsdl:port>
    <wsdl:port name="to_import_hoursSoap12" binding="tns:to_import_hoursSoap12">
      <soap12:address location="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimporthours.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>