ver2_1/App_WebReferences/ozimporthours_timetag/ozimporthours_timetag.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="timeout_importTimer_timetag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="timeout_importTimer_timetagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="timeout_importTimer_timetagResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="timeout_importTimer_timetagSoapIn">
    <wsdl:part name="parameters" element="tns:timeout_importTimer_timetag" />
  </wsdl:message>
  <wsdl:message name="timeout_importTimer_timetagSoapOut">
    <wsdl:part name="parameters" element="tns:timeout_importTimer_timetagResponse" />
  </wsdl:message>
  <wsdl:portType name="to_import_timetagSoap">
    <wsdl:operation name="timeout_importTimer_timetag">
      <wsdl:input message="tns:timeout_importTimer_timetagSoapIn" />
      <wsdl:output message="tns:timeout_importTimer_timetagSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="to_import_timetagSoap" type="tns:to_import_timetagSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="timeout_importTimer_timetag">
      <soap:operation soapAction="http://tempuri.org/timeout_importTimer_timetag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="to_import_timetagSoap12" type="tns:to_import_timetagSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="timeout_importTimer_timetag">
      <soap12:operation soapAction="http://tempuri.org/timeout_importTimer_timetag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="to_import_timetag">
    <wsdl:port name="to_import_timetagSoap" binding="tns:to_import_timetagSoap">
      <soap:address location="https://outzource.dk/timeout_xp/wwwroot/ver2_1/timereg_net/ozimporthours_timetag.asmx" />
    </wsdl:port>
    <wsdl:port name="to_import_timetagSoap12" binding="tns:to_import_timetagSoap12">
      <soap12:address location="https://outzource.dk/timeout_xp/wwwroot/ver2_1/timereg_net/ozimporthours_timetag.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>