ver2_1/App_WebReferences/dk_rack/outzource_timeout2_importomk/ozimportomk.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addomk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addomkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addomkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addomkSoapIn">
    <wsdl:part name="parameters" element="tns:addomk" />
  </wsdl:message>
  <wsdl:message name="addomkSoapOut">
    <wsdl:part name="parameters" element="tns:addomkResponse" />
  </wsdl:message>
  <wsdl:portType name="oz_importomkSoap">
    <wsdl:operation name="addomk">
      <wsdl:input message="tns:addomkSoapIn" />
      <wsdl:output message="tns:addomkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="oz_importomkSoap" type="tns:oz_importomkSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addomk">
      <soap:operation soapAction="http://tempuri.org/addomk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="oz_importomkSoap12" type="tns:oz_importomkSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addomk">
      <soap12:operation soapAction="http://tempuri.org/addomk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="oz_importomk">
    <wsdl:port name="oz_importomkSoap" binding="tns:oz_importomkSoap">
      <soap:address location="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimportomk.asmx" />
    </wsdl:port>
    <wsdl:port name="oz_importomkSoap12" binding="tns:oz_importomkSoap12">
      <soap12:address location="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimportomk.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>