ver2_1/App_WebReferences/da_rack/cloud/timeout_getweekreport/ozreportws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="oz_report">
        <s:complexType />
      </s:element>
      <s:element name="oz_reportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oz_reportResult" type="tns:ArrayOfOzreportcls" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOzreportcls">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ozreportcls" nillable="true" type="tns:ozreportcls" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ozreportcls">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Folder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="oz_reportSoapIn">
    <wsdl:part name="parameters" element="tns:oz_report" />
  </wsdl:message>
  <wsdl:message name="oz_reportSoapOut">
    <wsdl:part name="parameters" element="tns:oz_reportResponse" />
  </wsdl:message>
  <wsdl:portType name="ozreportwsSoap">
    <wsdl:operation name="oz_report">
      <wsdl:input message="tns:oz_reportSoapIn" />
      <wsdl:output message="tns:oz_reportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ozreportwsSoap" type="tns:ozreportwsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="oz_report">
      <soap:operation soapAction="http://tempuri.org/oz_report" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ozreportwsSoap12" type="tns:ozreportwsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="oz_report">
      <soap12:operation soapAction="http://tempuri.org/oz_report" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ozreportws">
    <wsdl:port name="ozreportwsSoap" binding="tns:ozreportwsSoap">
      <soap:address location="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozreportws.asmx" />
    </wsdl:port>
    <wsdl:port name="ozreportwsSoap12" binding="tns:ozreportwsSoap12">
      <soap12:address location="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozreportws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>