ver2_1/App_WebReferences/dk_rack/outzource_timeout2/ozimportjob2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="createjob2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createjob2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="createjob2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="createjob2SoapIn">
    <wsdl:part name="parameters" element="tns:createjob2" />
  </wsdl:message>
  <wsdl:message name="createjob2SoapOut">
    <wsdl:part name="parameters" element="tns:createjob2Response" />
  </wsdl:message>
  <wsdl:portType name="oz_importjob2Soap">
    <wsdl:operation name="createjob2">
      <wsdl:input message="tns:createjob2SoapIn" />
      <wsdl:output message="tns:createjob2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="oz_importjob2Soap" type="tns:oz_importjob2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createjob2">
      <soap:operation soapAction="http://tempuri.org/createjob2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="oz_importjob2Soap12" type="tns:oz_importjob2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createjob2">
      <soap12:operation soapAction="http://tempuri.org/createjob2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="oz_importjob2">
    <wsdl:port name="oz_importjob2Soap" binding="tns:oz_importjob2Soap">
      <soap:address location="http://timeout2.outzource.dk/timeout_xp/wwwroot/ver2_14/timereg_net/ozimportjob2.asmx" />
    </wsdl:port>
    <wsdl:port name="oz_importjob2Soap12" binding="tns:oz_importjob2Soap12">
      <soap12:address location="http://timeout2.outzource.dk/timeout_xp/wwwroot/ver2_14/timereg_net/ozimportjob2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>