ver2_1/App_WebReferences/WebReferenceNAVTiaProd_job/TimeOutJobs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/timeoutjobs" targetNamespace="urn:microsoft-dynamics-schemas/page/timeoutjobs" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/timeoutjobs" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Planning" />
          <xsd:enumeration value="Quote" />
          <xsd:enumeration value="Order" />
          <xsd:enumeration value="Completed" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Blocked">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Posting" />
          <xsd:enumeration value="All" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Reserve">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Never" />
          <xsd:enumeration value="Optional" />
          <xsd:enumeration value="Always" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Exch_Calculation_Cost">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Fixed_FCY" />
          <xsd:enumeration value="Fixed_LCY" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Exch_Calculation_Price">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Fixed_FCY" />
          <xsd:enumeration value="Fixed_LCY" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WIP_Posting_Method">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Per_Job" />
          <xsd:enumeration value="Per_Job_Ledger_Entry" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Resource_Invoice_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Fixed" />
          <xsd:enumeration value="Time_Material" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Item_Invoice_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Fixed" />
          <xsd:enumeration value="Time_Material" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Expense_Invoice_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Fixed" />
          <xsd:enumeration value="Time_Material" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Customer_Prospect">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Customer" />
          <xsd:enumeration value="Prospect" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Est_Project_Usage_Posting">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Costs" />
          <xsd:enumeration value="Prices" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Project_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Fixed" />
          <xsd:enumeration value="Time_Material" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Application_Method">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Apply_to_Oldest" />
          <xsd:enumeration value="Manual" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Project_Usage_Posting">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Costs" />
          <xsd:enumeration value="Prices" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Type_Filter">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Resource" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="G_L_Account" />
          <xsd:enumeration value="Group_Resource" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WIP_Method_Usage">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Cost_Value" />
          <xsd:enumeration value="Sales_Value" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WIP_Cost_Sale_price_Item">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Cost" />
          <xsd:enumeration value="Sale" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WIP_Usage_Budget_Item">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Usage" />
          <xsd:enumeration value="Budget" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WIP_Cost_Sale_price_Res">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Cost" />
          <xsd:enumeration value="Sale" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WIP_Usage_Budget_Res">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Usage" />
          <xsd:enumeration value="Budget" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WIP_Cost_Sale_price_Exp">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Cost" />
          <xsd:enumeration value="Sale" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="WIP_Usage_Budget_Exp">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Usage" />
          <xsd:enumeration value="Budget" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Filter_Entry_type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Usage_Entries" />
          <xsd:enumeration value="Sale_Entries" />
          <xsd:enumeration value="All_Entries" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Entry_Type_Filter">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Usage" />
          <xsd:enumeration value="Sale" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="TimeOutJobs">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Search_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Customer_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Creation_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Starting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ending_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Person_Responsible" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Global_Dimension_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Global_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Posting_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Blocked" type="tns:Blocked" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Date_Modified" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Comment" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Disc_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Price_Group" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Language_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Scheduled_Res_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Resource_Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_Date_Filter" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Resource_Gr_Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Scheduled_Res_Gr_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No_Series" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Name_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reserve" type="tns:Reserve" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Method" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Currency_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Contact_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bill_to_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Planning_Date_Filter" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_WIP_Cost_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_WIP_Cost_G_L_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Entries_Exist" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Posting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_G_L_Posting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Invoice_Currency_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exch_Calculation_Cost" type="tns:Exch_Calculation_Cost" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exch_Calculation_Price" type="tns:Exch_Calculation_Price" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Allow_Schedule_Contract_Lines" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Complete" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Recog_Sales_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Recog_Sales_G_L_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Recog_Costs_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Recog_Costs_G_L_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_WIP_Sales_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_WIP_Sales_G_L_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Completion_Calculated" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Next_Invoice_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Apply_Usage_Link" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Warnings" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Posting_Method" type="tns:WIP_Posting_Method" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applied_Costs_G_L_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Applied_Sales_G_L_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Calc_Recog_Sales_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Calc_Recog_Costs_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Calc_Recog_Sales_G_L_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Calc_Recog_Costs_G_L_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Completion_Posted" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Time_Entry_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Activating" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Resource_Task_Posting" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Resource_Invoice_Type" type="tns:Resource_Invoice_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Total_Payment_Value" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Internal_Project" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Estimated_Delivery_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_Invoice_Type" type="tns:Item_Invoice_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expense_Invoice_Type" type="tns:Expense_Invoice_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Resource_Sub_Gr_Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Std_Millage_to_Customer" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pipeline" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pipeline_Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Task_Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Budgeted_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Budgeted_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Usage_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Usage_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Invoiced_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Filter" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expense_Filter" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Work_Type_Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ress_Grp_Budget_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ress_Budget_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Overall_Completion_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Salesperson_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Manager" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Recognition_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Prospect" type="tns:Customer_Prospect" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Split_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_Customer_Split" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Main_Project_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Main_Project_Task_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Budgeted_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Usage_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Active_Budget_Version_Created" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="External_Project_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Estimated_Completion_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Calc_Capitalization" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Calc_Recognition" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Est_WIP_Amt" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Est_Project_Usage_Posting" type="tns:Est_Project_Usage_Posting" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Active_Budget_Version" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Private_Project" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Connected_to_Project" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Connect_to_Project_Budg_Exp" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Connect_to_Proj_Budg_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Connect_to_Proj_Usage_Exp" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Con_to_Proj_Usage_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Con_to_Proj_Invoiced_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Budget_Version_Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Budget_Ver_WIP" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_contract_amount" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Chargeable_Filter" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Checked" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Checked_by" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Checked_date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Project" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sold_hours" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sold_unit_price_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Sold_hour_amount_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Remaining_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Type" type="tns:Project_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Unit_Price_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Hours_updated" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Hours_updated_by" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Resource_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expense_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Hour_Budget" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Application_Method" type="tns:Application_Method" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Completion_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Usage_Posting" type="tns:Project_Usage_Posting" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Type_Filter" type="tns:Type_Filter" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Adjusted_Pay_Inv" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payment_Code_Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Resource_Group_Discount_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quote_Budget_Version" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Budget_Version_To_Breakdown" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Anchor_Budget_Version" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Resource_use_posted_currency" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expense_use_posted_currency" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_use_posted_currency" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Use_Advance_WIP" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Method_Usage" type="tns:WIP_Method_Usage" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Cost_Sale_price_Item" type="tns:WIP_Cost_Sale_price_Item" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Usage_Budget_Item" type="tns:WIP_Usage_Budget_Item" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Cost_Sale_price_Res" type="tns:WIP_Cost_Sale_price_Res" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Usage_Budget_Res" type="tns:WIP_Usage_Budget_Res" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Cost_Sale_price_Exp" type="tns:WIP_Cost_Sale_price_Exp" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Usage_Budget_Exp" type="tns:WIP_Usage_Budget_Exp" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_Estimated_Completion_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Res_Estimated_Completion_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exp_Estimated_Completion_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Filter_Entry_type" type="tns:Filter_Entry_type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exclude_Res_WIP" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exclude_Item_WIP" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exclude_Exp_WIP" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WIP_Amount_Budget" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Recognition_Amount_Budget" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posted_Capitalization" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posted_Recognition" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Budget_Cost_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="To_Invoice_Price_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="To_Invoice_Cost_LCY" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Customer_Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Project_Filter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Entry_Type_Filter" type="tns:Entry_Type_Filter" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Approved" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Approved_By" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Approved_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Approved_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Not_Approved_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Approved_Filter" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Active_Budget_Version_filter" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TimeOutJobs_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="TimeOutJobs" type="tns:TimeOutJobs" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="TimeOutJobs_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Search_Description" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Description_2" />
          <xsd:enumeration value="Bill_to_Customer_No" />
          <xsd:enumeration value="Creation_Date" />
          <xsd:enumeration value="Starting_Date" />
          <xsd:enumeration value="Ending_Date" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Person_Responsible" />
          <xsd:enumeration value="Global_Dimension_1_Code" />
          <xsd:enumeration value="Global_Dimension_2_Code" />
          <xsd:enumeration value="Job_Posting_Group" />
          <xsd:enumeration value="Blocked" />
          <xsd:enumeration value="Last_Date_Modified" />
          <xsd:enumeration value="Comment" />
          <xsd:enumeration value="Customer_Disc_Group" />
          <xsd:enumeration value="Customer_Price_Group" />
          <xsd:enumeration value="Language_Code" />
          <xsd:enumeration value="Scheduled_Res_Qty" />
          <xsd:enumeration value="Resource_Filter" />
          <xsd:enumeration value="Posting_Date_Filter" />
          <xsd:enumeration value="Resource_Gr_Filter" />
          <xsd:enumeration value="Scheduled_Res_Gr_Qty" />
          <xsd:enumeration value="Bill_to_Name" />
          <xsd:enumeration value="Bill_to_Address" />
          <xsd:enumeration value="Bill_to_Address_2" />
          <xsd:enumeration value="Bill_to_City" />
          <xsd:enumeration value="County" />
          <xsd:enumeration value="Bill_to_Post_Code" />
          <xsd:enumeration value="No_Series" />
          <xsd:enumeration value="Bill_to_Country_Region_Code" />
          <xsd:enumeration value="Bill_to_Name_2" />
          <xsd:enumeration value="Reserve" />
          <xsd:enumeration value="WIP_Method" />
          <xsd:enumeration value="Currency_Code" />
          <xsd:enumeration value="Bill_to_Contact_No" />
          <xsd:enumeration value="Bill_to_Contact" />
          <xsd:enumeration value="Planning_Date_Filter" />
          <xsd:enumeration value="Total_WIP_Cost_Amount" />
          <xsd:enumeration value="Total_WIP_Cost_G_L_Amount" />
          <xsd:enumeration value="WIP_Entries_Exist" />
          <xsd:enumeration value="WIP_Posting_Date" />
          <xsd:enumeration value="WIP_G_L_Posting_Date" />
          <xsd:enumeration value="Invoice_Currency_Code" />
          <xsd:enumeration value="Exch_Calculation_Cost" />
          <xsd:enumeration value="Exch_Calculation_Price" />
          <xsd:enumeration value="Allow_Schedule_Contract_Lines" />
          <xsd:enumeration value="Complete" />
          <xsd:enumeration value="Recog_Sales_Amount" />
          <xsd:enumeration value="Recog_Sales_G_L_Amount" />
          <xsd:enumeration value="Recog_Costs_Amount" />
          <xsd:enumeration value="Recog_Costs_G_L_Amount" />
          <xsd:enumeration value="Total_WIP_Sales_Amount" />
          <xsd:enumeration value="Total_WIP_Sales_G_L_Amount" />
          <xsd:enumeration value="WIP_Completion_Calculated" />
          <xsd:enumeration value="Next_Invoice_Date" />
          <xsd:enumeration value="Apply_Usage_Link" />
          <xsd:enumeration value="WIP_Warnings" />
          <xsd:enumeration value="WIP_Posting_Method" />
          <xsd:enumeration value="Applied_Costs_G_L_Amount" />
          <xsd:enumeration value="Applied_Sales_G_L_Amount" />
          <xsd:enumeration value="Calc_Recog_Sales_Amount" />
          <xsd:enumeration value="Calc_Recog_Costs_Amount" />
          <xsd:enumeration value="Calc_Recog_Sales_G_L_Amount" />
          <xsd:enumeration value="Calc_Recog_Costs_G_L_Amount" />
          <xsd:enumeration value="WIP_Completion_Posted" />
          <xsd:enumeration value="Total_Time_Entry_Qty" />
          <xsd:enumeration value="Activating" />
          <xsd:enumeration value="Resource_Task_Posting" />
          <xsd:enumeration value="Resource_Invoice_Type" />
          <xsd:enumeration value="Total_Payment_Value" />
          <xsd:enumeration value="Internal_Project" />
          <xsd:enumeration value="Estimated_Delivery_Date" />
          <xsd:enumeration value="Item_Invoice_Type" />
          <xsd:enumeration value="Expense_Invoice_Type" />
          <xsd:enumeration value="Resource_Sub_Gr_Filter" />
          <xsd:enumeration value="Std_Millage_to_Customer" />
          <xsd:enumeration value="Pipeline" />
          <xsd:enumeration value="Pipeline_Description" />
          <xsd:enumeration value="Task_Filter" />
          <xsd:enumeration value="Project_Budgeted_Cost" />
          <xsd:enumeration value="Project_Budgeted_Price" />
          <xsd:enumeration value="Project_Usage_Cost" />
          <xsd:enumeration value="Project_Usage_Price" />
          <xsd:enumeration value="Project_Invoiced_Price" />
          <xsd:enumeration value="Payment_Filter" />
          <xsd:enumeration value="Expense_Filter" />
          <xsd:enumeration value="Work_Type_Filter" />
          <xsd:enumeration value="Ress_Grp_Budget_Quantity" />
          <xsd:enumeration value="Ress_Budget_Quantity" />
          <xsd:enumeration value="Overall_Completion_Percent" />
          <xsd:enumeration value="Salesperson_Code" />
          <xsd:enumeration value="Project_Manager" />
          <xsd:enumeration value="WIP_Amount" />
          <xsd:enumeration value="Recognition_Amount" />
          <xsd:enumeration value="Customer_Prospect" />
          <xsd:enumeration value="Customer_Split_Percent" />
          <xsd:enumeration value="Use_Customer_Split" />
          <xsd:enumeration value="Main_Project_No" />
          <xsd:enumeration value="Main_Project_Task_Code" />
          <xsd:enumeration value="Project_Budgeted_Qty" />
          <xsd:enumeration value="Project_Usage_Qty" />
          <xsd:enumeration value="Active_Budget_Version_Created" />
          <xsd:enumeration value="External_Project_No" />
          <xsd:enumeration value="Estimated_Completion_Percent" />
          <xsd:enumeration value="Calc_Capitalization" />
          <xsd:enumeration value="Calc_Recognition" />
          <xsd:enumeration value="Est_WIP_Amt" />
          <xsd:enumeration value="Est_Project_Usage_Posting" />
          <xsd:enumeration value="Active_Budget_Version" />
          <xsd:enumeration value="Private_Project" />
          <xsd:enumeration value="Connected_to_Project" />
          <xsd:enumeration value="Connect_to_Project_Budg_Exp" />
          <xsd:enumeration value="Connect_to_Proj_Budg_Price" />
          <xsd:enumeration value="Connect_to_Proj_Usage_Exp" />
          <xsd:enumeration value="Con_to_Proj_Usage_Price" />
          <xsd:enumeration value="Con_to_Proj_Invoiced_Price" />
          <xsd:enumeration value="Budget_Version_Filter" />
          <xsd:enumeration value="Budget_Ver_WIP" />
          <xsd:enumeration value="Use_contract_amount" />
          <xsd:enumeration value="Chargeable_Filter" />
          <xsd:enumeration value="WIP_Checked" />
          <xsd:enumeration value="WIP_Checked_by" />
          <xsd:enumeration value="WIP_Checked_date" />
          <xsd:enumeration value="Customer_Project" />
          <xsd:enumeration value="Sold_hours" />
          <xsd:enumeration value="Sold_unit_price_LCY" />
          <xsd:enumeration value="Sold_hour_amount_LCY" />
          <xsd:enumeration value="Remaining_Qty" />
          <xsd:enumeration value="Project_Type" />
          <xsd:enumeration value="New_Unit_Price_LCY" />
          <xsd:enumeration value="Hours_updated" />
          <xsd:enumeration value="Hours_updated_by" />
          <xsd:enumeration value="Resource_Discount_Percent" />
          <xsd:enumeration value="Item_Discount_Percent" />
          <xsd:enumeration value="Expense_Discount_Percent" />
          <xsd:enumeration value="Hour_Budget" />
          <xsd:enumeration value="Application_Method" />
          <xsd:enumeration value="Completion_Date" />
          <xsd:enumeration value="Project_Usage_Posting" />
          <xsd:enumeration value="Type_Filter" />
          <xsd:enumeration value="Adjusted_Pay_Inv" />
          <xsd:enumeration value="Payment_Code_Filter" />
          <xsd:enumeration value="Resource_Group_Discount_Percent" />
          <xsd:enumeration value="Quote_Budget_Version" />
          <xsd:enumeration value="Budget_Version_To_Breakdown" />
          <xsd:enumeration value="Anchor_Budget_Version" />
          <xsd:enumeration value="Resource_use_posted_currency" />
          <xsd:enumeration value="Expense_use_posted_currency" />
          <xsd:enumeration value="Item_use_posted_currency" />
          <xsd:enumeration value="Use_Advance_WIP" />
          <xsd:enumeration value="WIP_Method_Usage" />
          <xsd:enumeration value="WIP_Cost_Sale_price_Item" />
          <xsd:enumeration value="WIP_Usage_Budget_Item" />
          <xsd:enumeration value="WIP_Cost_Sale_price_Res" />
          <xsd:enumeration value="WIP_Usage_Budget_Res" />
          <xsd:enumeration value="WIP_Cost_Sale_price_Exp" />
          <xsd:enumeration value="WIP_Usage_Budget_Exp" />
          <xsd:enumeration value="Item_Estimated_Completion_Percent" />
          <xsd:enumeration value="Res_Estimated_Completion_Percent" />
          <xsd:enumeration value="Exp_Estimated_Completion_Percent" />
          <xsd:enumeration value="Filter_Entry_type" />
          <xsd:enumeration value="Exclude_Res_WIP" />
          <xsd:enumeration value="Exclude_Item_WIP" />
          <xsd:enumeration value="Exclude_Exp_WIP" />
          <xsd:enumeration value="WIP_Amount_Budget" />
          <xsd:enumeration value="Recognition_Amount_Budget" />
          <xsd:enumeration value="Posted_Capitalization" />
          <xsd:enumeration value="Posted_Recognition" />
          <xsd:enumeration value="Budget_Cost_Amount" />
          <xsd:enumeration value="To_Invoice_Price_LCY" />
          <xsd:enumeration value="To_Invoice_Cost_LCY" />
          <xsd:enumeration value="Customer_Filter" />
          <xsd:enumeration value="Project_Filter" />
          <xsd:enumeration value="Entry_Type_Filter" />
          <xsd:enumeration value="Approved" />
          <xsd:enumeration value="Approved_By" />
          <xsd:enumeration value="Approved_Date" />
          <xsd:enumeration value="Approved_Amount" />
          <xsd:enumeration value="Not_Approved_Amount" />
          <xsd:enumeration value="Approved_Filter" />
          <xsd:enumeration value="Active_Budget_Version_filter" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="TimeOutJobs_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:TimeOutJobs_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="TimeOutJobs" type="tns:TimeOutJobs" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="TimeOutJobs" type="tns:TimeOutJobs" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:TimeOutJobs_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:TimeOutJobs_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TimeOutJobs" type="tns:TimeOutJobs" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TimeOutJobs" type="tns:TimeOutJobs" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TimeOutJobs_List" type="tns:TimeOutJobs_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TimeOutJobs_List" type="tns:TimeOutJobs_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TimeOutJobs" type="tns:TimeOutJobs" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TimeOutJobs" type="tns:TimeOutJobs" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TimeOutJobs_List" type="tns:TimeOutJobs_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TimeOutJobs_List" type="tns:TimeOutJobs_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="TimeOutJobs_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="TimeOutJobs_Binding" type="tns:TimeOutJobs_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/timeoutjobs:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/timeoutjobs:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/timeoutjobs:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/timeoutjobs:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/timeoutjobs:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/timeoutjobs:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/timeoutjobs:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/timeoutjobs:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/timeoutjobs:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/timeoutjobs:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="TimeOutJobs_Service">
    <port name="TimeOutJobs_Port" binding="tns:TimeOutJobs_Binding">
      <address location="http://85.236.66.153:7147/PROD_TIMEOUT/WS/TIA%20DK/Page/TimeOutJobs" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>